name: Documentation

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: doxygen
        uses: mattnotmitt/doxygen-action@v1.1.0
        with:
          doxyfile-path: "./doc/Doxyfile"
          working-directory: "."
      - name: gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/html